<div id="carouselExampleCaptions" class="carousel slide carousel-custom">
  <div class="carousel-indicators">
    <button
      *ngFor="let elem of data; let i = index"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      [attr.data-bs-slide-to]="i"
      [ngClass]="{ active: i === 0 }"
      aria-current="true"
      [attr.aria-label]="'Slide ' + (i + 1) + ' ' + elem.title"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let elem of data; let i = index"
        [class.active]="i === 0"
      >
        <div class="image-overlay"></div>
        <img
          src="../../../assets/{{ elem.image }}"
          class="d-block w-100 h-100 mx-auto"
          [alt]="elem.title"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-6">{{ elem.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
