<div class="flex flex-column">
  <div class="text-center">
    <img src="../../../../assets/logoITR.png" alt="Logo ITR" width="250">
  </div>

  <form>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="Usuario/DNI">
      <label for="floatingInput">Usuario/DNI</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="mx-1 mt-4 mb-5">
      <a class="link-offset-1" [routerLink]="['/auth/register']">Registrarme</a>
    </div>

    <div>
      <a class="btn btn-primary btn-lg w-100" href="#" role="button">Iniciar</a>
    </div>
  </form>
</div>
