    <!-- footer -->
    <footer class="bg text-white pt-5 pb-3 mt-4">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left border-bottom">

          <div class="col-12 col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 fw-medium">Acerca de nosotros</h4>
            <p class="fw-light mb-0 mx-2 mx-md-0">Nos inspiramos en la tecnología y la transformación que logramos con ella. Todos los días
              trabajamos para crear impacto basado en lo que somos.</p>
              <img src="../../../assets/logoITR2.png" alt="Logo ITR" width="70">
          </div>

          <div class="col-5 col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="text-light fw-medium">SERVICIOS</h4>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Consultoria</a>
            </p>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Incubadora</a>
            </p>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Getión de datos</a>
            </p>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Automatización</a>
            </p>
          </div>

          <div class="col-7 col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="mb-3 text-light fw-medium">TECNOLOGÍAS</h4>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Comunidades de práctica</a>
            </p>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Proyectos de I+D</a>
            </p>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Campus ITR</a>
            </p>
            <p>
              <a href="#" class="link-light link-underline link-underline-opacity-0 fw-light">Sumate a nuestro equipo</a>
            </p>
          </div>

          <div class="col-12 col-md-4 col-lg-3 col-xl-3 mx-auto text-start mt-3 border-start-contact ps-4">
            <h4 class="mb-3 text-light fw-medium">CONTACTO</h4>
            <p><i class="bi bi-geo-alt-fill fs-6 me-1"></i>Edificio Plaza De La Republica Dirección: Av. Corrientes 880 4B,
              CABA</p>
            <p><i class="bi bi-globe fs-6 me-1"></i>consultas@itr.com</p>
            <p><i class="bi bi-telephone-fill fs-6 me-1"></i>+54 397 4154991</p>
          </div>
        </div>

        <div class="row aling-items-center mt-4">
          <div class="col-md-7 col-lg-8">
            <p class="text-sm-center text-md-start" style="text-align: center;">
              Copyright &copy;2023 All rights reserved by:
              <a href="https://www.linkedin.com/company/itresources-sa/mycompany/verification/"
                style="text-decoration: none;" class="icon text-light fw-medium">
                ITR Woman in Tech
              </a>
            </p>
          </div>

          <div class="col-md-5 col-lg-4">
            <div class="text-sm-center text-md-end" style="text-align: center;">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/itresources" target="_blank"  class="btn-floating btn-sm text-white">
                    <i class="bi bi-facebook fs-4"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/itr.ar/" target="_blank"  class="btn-floating btn-sm text-white">
                    <i class="bi bi-instagram fs-4"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/company/itresources-sa/mycompany/verification/" target="_blank" class="btn-floating btn-sm text-white">
                    <i class="bi bi-linkedin fs-4"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div> <!-- fin de iconos -->
        </div>

      </div>
    </footer> <!--fin de footer -->
