<mat-sidenav-container class="sidenav-container">
  <!-- menu lateral responsivo -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a class="mb-3" mat-list-item routerLink="./inicio"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">home</span>Inicio</a>
      <a class="mb-3" mat-list-item routerLink="./oportunidad"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">handshake</span>Oportunidad </a>
      <a class="mb-3" mat-list-item routerLink="./entrevistador"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">group</span>Entrevistador</a>
      <a class="mb-3" mat-list-item routerLink="./coach"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">support_agent</span>Coach </a>
      <a class="mb-3" mat-list-item routerLink="./asignador"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">travel_explore</span>Asignador</a>
      <a class="mb-3" mat-list-item routerLink="./recurso"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">quick_reference_all</span>Recurso</a>
      <a class="mb-3" mat-list-item routerLink="./departamento"><span class="material-symbols-outlined bg icon rounded-circle p-2 mr-2">apartment</span>Departamento</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- navegacion-->
    <mat-toolbar class="bg d-flex justify-content-between">
      <!-- menu sandwich-->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- buscador -->
      <form class="d-flex justify-content-end">
        <div class="input-group">
          <input class="form-control d-none d-md-block" type="search" placeholder="Buscador.." aria-label="Search">
          <button type="button" class="btn btn-outline-light d-none d-md-block ml-2">
            <span class="material-symbols-outlined">search</span>
          </button>
        </div>
      </form>

      <!-- Botón desplegable empleado-->
      <div class="btn-group d-flex justify-content-end">
        <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Linda Candela Paz
        </button>

        <div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Cursos</a></li>
            <li><a class="dropdown-item" href="#">Ver liquidación</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">cerrar sesión</a></li>
          </ul>
        </div>
      </div>

    </mat-toolbar> <!-- fin de navegacion-->

    <!-- se encarga de mostrar las rutas hijas -->
    <router-outlet></router-outlet>

    <!-- footer -->
    <app-footer></app-footer>


  </mat-sidenav-content>
</mat-sidenav-container>


