<!-- ver mi perfil y editarlo
ver la ruta de empleados y poder clickearlo para ver la lista en el dashboard
con un botón agregar un skill a un empleado
con un botón agregar un recurso a un empleado
con un botón agregar un rol a un empleado
ver la ruta de skills y agregar una skill mediante un form -->

<div class="container">

  <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="list-coaches" *ngIf="!isLoading">
    <div class="title-buscador">
      <h4>Listado de coaches</h4>
      <div class="buscador">
        <input
          type="search"
          (keyup)="applyFilter($event)"
          placeholder="Buscar"
        />
      </div>
    </div>
    <div class="list">
      <div class="coach-card" *ngFor="let coach of filterCoach">
        <div class="img">
          <img src="https://img.freepik.com/free-icon/user_318-563642.jpg?w=360" width="50px" alt="">
        </div>
        <span>
          <p>{{ coach.name }}</p>
          <p>{{ coach.lastname }}</p>
        </span>
      </div>
    </div>
  </div>

  <div class="coachees">
    <h2>Coaches</h2>
    <app-coach-table></app-coach-table>
  </div>
  
</div>
