<section class="w-100 h-100">
  <main class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded-3 mx-4" style="width: 30rem">
      <div class="card-body">
        <!-- se va a ver login y el register -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

  <footer>
    <h5 class="position-absolute bottom-0 start-50 translate-middle-x text-light text-center">Copyright &copy;2023 Desing ITR Woman in Tech</h5>
  </footer>
</section>

