<main class="container">
    <aside>
        <div class="perfil-img"></div>
        <a href="">Cambiar foto</a>
        <div class="skills">
            <p>Skills</p>
            <div class="skills-items">
                <div class="skill-item">
                    <p>Java</p>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
                <div class="skill-item">
                    <p>Angular</p>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                </div>
                <div class="skill-item">
                    <p>.NET</p>
                    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                </div>
            </div>
        </div>
    </aside>
    <div class="perfil-info">
        <div class="modificar-datos">
            <h1>Mis datos</h1>
            <button class="btn">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="perfil-info-group">
            <div class="perfil-info-item">
                <span>Nombre</span>
                <p>Micaela</p>
            </div>
            <div class="perfil-info-item">
                <span>Apellido</span>
                <p>Gomez</p>
            </div>
        </div>
        <div class="perfil-info-group">
            <div class="perfil-info-item">
                <span>DNI</span>
                <p>45265235</p>
            </div>
            <div class="perfil-info-item">
                <span>Rol</span>
                <p>Developer</p>
            </div>
        </div>
        <div class="perfil-info-item">
            <span>Objetivo a corto plazo</span>
            <p>Ser junior</p>
        </div>
        <div class="perfil-info-item">
            <span>Objetivo a largo plazo</span>
            <p>Ser PM</p>
        </div>
    </div>
</main>
