<ng-container *ngIf="isLoading">
  <!-- Aquí puedes agregar el código HTML para mostrar el spinner -->
  <div class="d-flex justify-content-center align-items-center h-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <button (click)="openNew()" mat-button class="pointer p-4 btn btn-primary" >
    <mat-icon>add</mat-icon>Nuevo
  </button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="custom-table">

      <!-- ID Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
        <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="longGoal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Long Goal </th>
        <td mat-cell *matCellDef="let row"> {{row.longGoal}} </td>
      </ng-container>

      <ng-container matColumnDef="shortGoal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Goal </th>
        <td mat-cell *matCellDef="let row"> {{row.shortGoal}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a href="#" class="pointer" style="color: #1878b0" matTooltip="Ver usuario">
            <mat-icon>search</mat-icon>
          </a>
          <a (click)="openDialog(row)" class="pointer" style="color: #1f516f" matTooltip="Editar usuario">
            <mat-icon>edit</mat-icon>
          </a>

          <a (click)="deleteEmpoyee(row.dni)" class="pointer" style="color: #e15639" matTooltip="Eliminar usuario">
            <mat-icon>delete</mat-icon>
          </a>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</ng-container>