table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

/* estilos de la tabla */

.custom-table {
  table-layout: fixed;
  width: 100%;
}

.custom-table th,
.custom-table td {
  width: 25%; /* Ajusta este valor según la cantidad de columnas que tengas */
  padding: 8px;
}

.h-spinner {
  height: 45vh;
}

::ng-deep .actions {

  width:inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

::ng-deep .mat-mdc-table .mdc-data-table__row {
  height: 80px;
}

::ng-deep .custom-table[_ngcontent-ng-c291826304] th[_ngcontent-ng-c291826304], .custom-table[_ngcontent-ng-c291826304] td[_ngcontent-ng-c291826304]{
  width: 100%;
}
